{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}About the Project{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
   
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/aboutbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption></figcaption>
</figure>
    <div class="row">
 <h1>About the Project</h1></br>
     <p>
     Mapping Museums is a four year research project funded by the Arts and Humanities Research Council. 
	 It is based in the Department of History of Art and the Department of Computer Science and Information Systems at Birkbeck, University of London.  </p><p>
	 The research team:</p>
	 <ul><li>
	 collected and validated data on over 4,000 museums</li>
	<li>devised a new system for subject classification</li>
	 <li>designed a database that allows that information to be browsed, searched, and visualised in nuanced ways</li>
	<li>analysed the data and identified patterns in the emergence, distribution, and closure of museums, produced a findings report</li>
	 <li>investigated trends in the data through historical and interview-based research</li></ul></p>
	 <p>
	 Other pages on the website provide detailed information about <a href="/sources">data collection</a>, the <a href="/software">software</a> we developed, <a href="/interviews">interview-based</a> research, and <a href="/findings">findings</a>.
	 </p>
     <p>
	 For more information on this work please see our <a href="/publications">publications</a>.
	 </p>
	 
	 
	 

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



