{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Acknowledgements{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
    
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/acknowledgementsbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Dina Isaacs in the mobile canteen, Cobbaton Combat Museum</figcaption>
</figure>
    <div class="row">
<h1>Acknowledgements</h1>
     <p>
    A great many individuals and organisations have helped with developing this database and project as a whole. 
	We are grateful to all of them. In particular we would like to thank our <a href="http://blogs.bbk.ac.uk/mapping-museums/people/" target="_blank">Advisory Board</a>, the <a href="https://museumdevelopmentnetwork.org/" target="_blank">Museums Development Network</a>, and the many volunteers, 
	founders, owners, and members of staff who have answered our questions about the museums where they work. 
	We would also like to thank everyone who attended our evaluation sessions and thereby contributed to the development of the database and web application.
     </p>
	 <p>
	 Please accept our apologies for any omissions. We are grateful for the assistance of:
	 </p></br>
	 
	 <p>The Arts and Humanities Research Council</p>
	 <p>Dawn Allman, Museum Development West Midlands</p>
	 <p>Adrian Babbidge, museums consultant</p>
	 <p>Chris Bailey, Northern Ireland Museums Council </p>
	 <p>Kate Bellamy, Arts Council England</p>
	 <p>Alex Bird, Museums Development North West</p>
	 <p>Ros Bonnet, Museums Development South West</p>
	 <p>Clare Browne, Chair of the Museums Development Network</p>
	 <p>Sarah Carr, Museums Development North East</p>
	 <p>Emma Chaplin, Association of Independent Museums</p>
	 <p>Isabel Churcher, Arts Council England</p>
	 <p>Rachel Crofts, Museums Development London</p>
	 <p>Ben Cowell, Historic Houses Association</p>
	 <p>Karen Davies, Museums Development, West Midlands</p>
	 <p>Helen Derbyshire, Museums Development South East</p>
	 <p>Stefan Dickers, Bishopsgate Institute</p>
	<p>Heather Doherty, Museums Galleries Scotland</p>
	<p>Charlotte Edwards, Museums Development, West Midlands</p>
	 <p>Owen Engelfield, Arts Council England </p>
	 <p>Jamie Everitt, SHARE</p>
	 <p>Julian Farrance, National Army Museum </p>
	 <p>Andy Flinn, University College London</p>
	 <p>Annette French, Arts Council England</p>
	 <p>Ricardo Frosini, Technical consultant</p>
	 <p>Kathy Gee, independent consultant </p>
	 <p>Bill Griffiths, Museums Development North East</p>
	 <p>Victoria Harding, Museums Development South West</p>
	 <p>Kaye Hardman, Museums Development North West </p>
	<p>Helen Johnson, Museum Development West Midlands </p>
	<p>Lynsey Jones, Museums Development North West </p>
	<p>Rachel Lambert Jones, Museums Development, West Midlands</p>
	<p>Kelsey Loveless, National Army Museum </p>
	<p>Peter Mandler, University of Cambridge </p>
	<p>Ann Mansell, Museums, Archives, Libraries Division, Wales </p>
	<p>Devon McHugh, Museums Galleries Scotland </p>
	<p>Sarah Menary, Museums Development South East </p>
	<p>Angie Minton, Museums Development East Midlands </p>
	<p>Loretta Mordi, Museums Galleries Scotland </p>
	<p>Tamalie Newbery, Brooklands Museum </p>
	<p>John Orna-Ornstein, National Trust  </p>
	<p>Trevor Reynolds, English Heritage </p>
	<p>Yvette Shepherd, Museums Development London</p>
	<p>Ben Travers, Museums Development London </p>
	<p>Jo Traynor, Museums Galleries Scotland </p>
	<p>Frank Trentmann, Birkbeck, University of London </p>
	<p>Michael Turnpenny, Museums Development, Yorkshire</p>
	<p>Richard Wellander, Historic Environment Scotland </p>
	<p>Triona White Hamilton, Northern Ireland Museums Council </p>
	<p>Carol Whittaker, Museums, Archives, Libraries Division, Wales </p>
	<p>Lily Wilks, Museums Development Yorkshire</p>
	<p>Isabel Wilson, Arts Council England 
	<p>Jenny Youngson, Museums Galleries Scotland </p>
     
     

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



