{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Archive{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
    
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/archivebanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Gladstone Pottery Museum, Stoke on Trent.</figcaption>
</figure>
    <div class="row">
<h1>Archive</h1>
     <p>
     The booklets, leaflets, and postcards that were collected in the course of the research are lodged in the Micromuseums Archive at the Bishopsgate Institute in the City of London. 
	 Sound files of the interviews conducted by the Mapping Museums team are also available via Bishopsgate. 
	 The archive is open access and has an online catalogue.
     </p>
	 <p>More information is available on the <a href="https://www.bishopsgate.org.uk/archives" target="_blank">Bishopsgate Archive website</a>.</p>
	 
	
     
     

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



