{% extends "base.html" %}
<!-- BENCH.HTML---->

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/treecss.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/tether.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/tether-theme-basic.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/tether-theme-arrows.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/tether-theme-arrows-dark.css') }}" />

<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.css') }}" />

<script src="{{ url_for('static', filename='js/wNumb.js') }}"></script>
<script src="{{ url_for('static', filename='js/nouislider.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='css/nouislider.css') }}" />






<style>
.column { position: relative; float: left; }
#center { padding: 0 20px; width: 100%; }
#fixeddiv { position:fixed; }
#left {	
width: 380px; /* LC width */ 
padding: 0 29px;  /* LC padding */	
right: 10px;  /* LC fullwidth + CC padding */	
}
#nakedtab-content{ visibility:hidden; }

#museumtable{font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;  
}
#table-heading {
    font-weight: bold;
}
a.blackanchor{color:black;text-decoration:  none;}
a.blackanchor:link{color:black;text-decoration:  none;}
a.blackanchor:visited{color:black;text-decoration:  none;}
a.blackanchor:hover{color:black;text-decoration:  none;}
a.blackanchor:active{color:black;text-decoration:  none;}

#detail-results{ width: 100%;position: relative; float: left; }

.expand{width: inherit;height: 100%; position: fixed; right: -18%; top: 183px; padding: 0 19px; }

body.modal-open div.modal-backdrop { 
    z-index: 0; 
}
</style>

{% endblock %}

{% block title %}Bench{% endblock %}
<style>
#nakedtab-content{ visibility:hidden; }


table { 
    border-spacing: 5;
    border-collapse: collapse;
    border:none
}
td,th { 
    padding: 10px;
    border:none

}

input {
    margin: 2px;
    width: 25px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
imgplay-button {
      color: #AAA;
      cursor: pointer;
      display: inline-block;
      height: 24px;
      margin: 4px;
      width: 24px; }
imgplay-button.active {
        color: #8BF; }
imgplay-button:hover, .imgplay .imgplay-controls .imgplay-button:focus {
        background: rgba(100, 100, 100, 0.5);
        color: #FFF; }

</style>

</head>
{% block page_content %}

BENCH

<div id="left" class="row">
      <div class="well" id="date-select" style="min-height:90px;">
         <label class="col-sm-2 control-label">Select date</label>
         <div class="col-sm-10" style="padding-top: 10px;">
            <select id="dateselect" name="dateselectname" class="dateselection" onchange='datechanged("dateselect","temporal-label");' >
             {% for result in options %}
               <option value="{{result|safe }}">{{result.replace('_',' ')|safe }}</option>
             {% endfor %}
             </select>	    

          </div>
       </div>
<p/>
BECNHC
<p/>
	<div class="css-treeview well">

           {% if dim  %}
  	     {% for tree in dim  %}
	         {{ tree|safe}}
	     {% endfor %}
          {% endif %}
	</div>
	<div class="css-treeview well">

           {% if loc%}
  	     {% for tree in loc%}
	         {{ tree|safe}}
	     {% endfor %}
          {% endif %}
	</div>
</div>

<div id="main">
<div class="second-row-fixed-white">

<div class="tabbable">
    <ul class="nav nav-tabs" id="nav" >


        <li><a href="#tab3" role="tab" data-toggle="tab" onclick="alert('not implemented');">List</a>
        </li>


    </ul>


<!-- List -->
        <div class="tab-pane fade in" id="tab3">
<style>
#detail-results{ width: 100%;position: relative; float: left; }
</style>

	<div id="slice-control">
               <table id="controls-table" >
		  <tr>
                  <td  >Temporal</td>
                  <td  >Dimension</td>
                  <td >location</td>
                  </tr>
		  <tr>
                  <td id="temporal-label" >None</td>
                  <td id="dimension-label" >None</td>
                  <td id="location-label">None </td>
                  </tr>
                  </table>
               <div id="calcmuseums" class="controls well">
	         <button class="btn-sm btn-primary" id="calcmuseums-button" onclick="calcList();" >Show result numbers</button>
		<p/>	
		<input type="text" id="resultset-lenght" value="0"> </input>	
		<p/>	
            </div><!-- slice-control -->

            <div id="listofmuseums" >

            </div><!-- listofmuseums -->

	       <p/>
	       <p/>
               <div id="controls" class="controls well">
	         <button class="btn-sm btn-primary" id="show-range" onclick="showRange();" >Show selected range</button>
		<p/>	
               <table id="controls-table" >
		  <tr>
                  <td>Selected years: </td>
                  <td id="lower-value" </td>
                  <td id="upper-value" </td>
                  <td id="number-of-museums" </td>
                  </tr>
                  </table>
                  <div id="slider-date" >
                  </div>
               <table id="controls-table" >
		  <tr>
                <td><button class="btn-sm btn-default imgplay-button" id="play-button" onclick="Play();">
                    <img src="{{ url_for('static', filename='img/play_circle_filled_black_18x18.png') }}" alt="Play"/>
                    </button>
	        </td>
                <td><button class="btn-sm btn-default imgplay-button" id="pause-button" onclick="Pause();">
                    <img src="{{ url_for('static', filename='img/pause_circle_filled_black_18x18.png') }}" alt="Pause"/>
                    </button>
                </td>
                <td><button class="btn-sm btn-default imgplay-button" id="stop-button" onclick="Stop();">
                    <img src="{{ url_for('static', filename='img/stop_black_18x18.png') }}" alt="Stop"/>
                    </button>
                </td>
                  <td id="play-interval-text"> </td>
                  <td id="play-interval-input"><input type="text" id="play-interval-value" value="1"> </td>
                  <td id="play-delay-text"> </td>
                  <td id="play-delay-input"><input type="text" id="play-delay-value" value="2"> </td>
                  <td id="play-delay-kind">ms</td>
                  <td id="play-bywindow-text"> </td>
                  <td><input type="checkbox" id="play-bywindow" value=""></input></td>                  
                </tr>
                  </table>
		<p/>	
               </div>


        </div> <!-- Tab browselist -->
    </div>
</div>




    </div>
</div>


<script>
function setHTMLContent(id,value)
{
  var field = document.getElementById(id);
  field.innerHTML = value ;
}


function datechanged(colid,label)
{
  var e = document.getElementById(colid);
  var selectedvalue = e.options[e.selectedIndex].value;
  setHTMLContent(label,selectedvalue);
}


function getAttributeByName(element,name)
{
  var i;
  for (i = 0; i < element.attributes.length; i++) 
    {
      //console.log ("comparing:"+element.attributes[i].name + "="+ name);
      if (element.attributes[i].name == name)
	{
	  //console.log("true");
	      return element.attributes[i].value;
	}
    }
  return undefined;
}
function setAttributeByName(element,name,value)
{
  var i;
  for (i = 0; i < element.attributes.length; i++) 
    {
      //console.log ("comparing:"+element.attributes[i].name + "="+ name);
      if (element.attributes[i].name == name)
	{
	  //console.log("true");
	  element.attributes[i].value=value;
	}
    }
}

	  

// - - - - - 

function a_clicked(href) 
    {
      var pager = document.getElementById("pager-information");
      var rtable = document.getElementById("museumtable");
      if (rtable)
	{
	  var rows=rtable.getElementsByClassName("museumresultrow");
	  pager.innerHTML=getLastLoaded()+"/"+rows.length;
	  $("#tab4").show(); 
	  //console.log(href);
	  //        alert(href);
	  if (href)
	    {
	      $( "#detail-results" ).load( href );
	      $('a[href="' +href + '"]').tab('show');
	    }
	  else
	    {
	      $( "#detail-results" ).load("/Museum/nid/n0/mm.domus.SE118" );
	      $('a[href="' +href + '"]').tab('show');
	    }
	}
      
      //console.log("glob1 "+getLastLoaded());
     }
function printAttributes(element)
{
  var txt = "";
  var i;
  for (i = 0; i < element.attributes.length; i++) 
    {
      txt = txt + element.attributes[i].name + " = " + element.attributes[i].value + "<br>";
      //console.log(txt);
    }
  console.log(txt);
}

function printElements(earr)
{
console.log("len:"+earr.length);
for (var i=0; i < earr.length;i++)
  {
       console.log("array["+i+"]="+earr[i].tagName+":"+earr[i].value);
       if (earr[i].tagName == "LABEL")
       {
         printAttributes(earr[i]);
         }
  }
  
}

function getPath(node) 
{
    console.log("e:"+node);
    var path = [];
    //var node = e.target;
    while(node != document.body) 
    {
       if (node.tagName == "LI")
	{
	 var fcarr=node.childNodes;
	 path.push(fcarr[1].innerHTML);
        }
       node = node.parentNode;
    }
    console.log("path:"+path);
 return path;
}

function ShowMuseums(e,id,name)
{
  var ele=document.getElementById(e);
  var path=getPath(ele);

  var idlist=museumdict[id];
  if (idlist)
    {
      setCurrentId(id); // This is for map view
      if (name == "")
	{
	  // Case for pageload trigger, create the name
	  name="Museums ["+idlist.length+"]";
	}
      else if (name.indexOf("[") < 0)
	{
	  // Add size to name
	  name=name+" ["+idlist.length+"]";
	}
      //    console.log( "?#?#? browseproperties.html at line: 93 Dbg-out variable id ["+id+"]" );
      //console.log( "?#?#? browseproperties.html at line: 94 Dbg-out variable id ["+name+"]" );
      //console.log( "?#?#? browseproperties.html at line: 143 Dbg-out variable idlist ["+idlist+"]" );
      //console.log( "?#?#? browseproperties.html at line: 144 Dbg-out variable len idlist ["+idlist.length+"]" );
      var table=makeTable(idlist,name);
      //      console.log("-------------------------------------------------------------");
      //console.log( "?#?#? browseproperties.html at line: 97 Dbg-out variable table ["+table+"]" );
      //console.log("-------------------------------------------------------------");
      var listtable = document.getElementById('listofmuseums');
      //console.log( "?#?#? browseproperties.html at line: 146 Dbg-out variable listtable ["+listtable+"]" );
      listtable.innerHTML=table;
      //console.log("SHOW CALLED"+id);
      //var subarr=idlist[0];
      //var mkey=subarr[1];
      //console.log("?#?#? browseproperties.html<2> at line: 413 Dbg-out variable \mkey ["+mkey+"]\n");
      
      //setLastLoaded(mkey);

      showMarker();
    }
}



function makeTable(entries,name)
{
  tabletext='<div class="results"  >'+
    '<h3>'+name+'</h3>'+
           '<table id="museumtable" class="table table-striped table-bordered" border="2"  >'

  var seq= -1;
  var ilen=entries.length;
  for (var row = 0; row < ilen; row++) 
    {
      //console.log("entries "+row+" :"+entries[row]);
      //console.log("subarr "+subarr);
      var subarr=entries[row];
      if (subarr[0] > seq)
	{
          seq=subarr[0];
	  var mkey=subarr[1];
	  //console.log("mkey  "+museums[mkey]);
          var name=museums[mkey][1];
          var href=BASE+museums[mkey][0];
	  var subject=museums[mkey][2];
	  //console.log("seq "+seq+" :"+name+" :"+href);
	  tabletext=tabletext+  '<tr id="tr'+seq+'" class="museumresultrow"> \n';
	  //tabletext=tabletext+'<td id="td1" class="museumresultcolumn"><a href="#myModal" data-toggle="modal" data-target="#myModal" name="'+href+'" onClick="launchModal(\'#myModal\',\''+href+'\','+seq+')"> '+name+'</a> <br>Subject: <i>'+subject+'</i></br></td>';
	  //tabletext=tabletext+'<td id="td1" class="museumresultcolumn"><a href="browseproperties" onClick="launchDetails(\''+href+'\')"> '+name+'</a> <br>Subject: <i>'+subject+'</i></br></td>';
	  tabletext=tabletext+'<td id="td1" class="museumresultcolumn"><a href="#tab4" uri="'+href+'"  onClick="setLastLoaded(\''+seq+'\');tabResSelected(4,\''+href+'\');"> '+name+'</a> <br>Subject: <i>'+subject+'</i></br></td>';
          tabletext=tabletext+'</tr> \n';

	}
    }

  tabletext=tabletext+'</table>';
  return tabletext
}




// - - - - - 

function resizeIframe(obj) 
{
  obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// M A I N 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

///-- DATA ------------------------------------------------
{% if mapdata  %}
  {% for data in mapdata%}
    {{data|safe }}
  {% endfor %}
{% endif %}

{% if dicts  %}
  {% for data in dicts%}
     {{data|safe }}
  {% endfor %}
{% endif %}

///--------------------------------------------------


//-------------------- FROM TIME

// - - - - - controls

function postMuseumcount(mcount)
 {
  var countfield=document.getElementById('number-of-museums');
  countfield.innerHTML = 'Number of museums:'+mcount ;
 }


function showRange() 
{
    if (toggleDots =='D')
      {
        showDots();
      }
    else
      {
	mymap.removeLayer(this.markers);

        showClusters();
      }

}


function addClass(element,clazz)
{
  var e = document.getElementById(element);
  if (e != null)
    {
    e.classList.add(clazz);
    }
else
  {
    //console.log ('addClass to element ['+element+'] not found');
  }
  
}

function removeClass(element,clazz)
{
  var e = document.getElementById(element);
  if (e != null)
    {
    e.className = e.className.replace( clazz, '' );
    }
else
  {
    //console.log ('addClass to element ['+element+'] not found');
  }
  
}



function Play()
{
  running = true;
  console.log("play");
  var bywindow=document.getElementById("play-bywindow").checked;
  if (paused == true)
    {
      this.stopRange=Number(this.pausedRange);
    }
  else
    {
      this.stopRange=Number(this.startRange)+Number(this.playinterval);
    }
  Advance();

  removeClass('play-button','active');
  addClass('stop-button','active');
  addClass('pause-button','active');
}


function Advance() 
{
  var bywindow=document.getElementById("play-bywindow").checked;
  console.log(this.startRange+"  ["+this.stopRange+"]"+"  ["+this.endRange+"]");
  if (bywindow == true)
    {
      if (this.startRange > this.endRange)
	{
	  Stop();
	  return;
	}
    }
  else
    {
      if (this.stopRange > this.endRange)
	{
	  Stop();
	  return;
	}
    }
  if(running) 
    {
      this.playdelay=document.getElementById('play-delay-value').value * 1000;
      runTimer = setTimeout(Advance, this.playdelay);
    }

  if (bywindow == true)
    {
      var range=[Number(this.startRange),Number(this.stopRange)];
      document.getElementById("slider-date").noUiSlider.set(range);
      showRange();
      this.playinterval=Number(document.getElementById('play-interval-value').value);
      this.startRange = Number(this.startRange) + Number(this.playinterval);
      this.stopRange = Number(this.startRange) + Number(this.playinterval);
      //console.log(this.startRange+" 2 bywin ["+this.stopRange+"]");
	}
  else
    {
      var range=[Number(this.startRange),Number(this.stopRange)];
      document.getElementById("slider-date").noUiSlider.set(range);
      showRange();
      this.playinterval=Number(document.getElementById('play-interval-value').value);
      this.stopRange = Number(this.stopRange) + Number(this.playinterval);
    }
}


function Stop() 
{
  console.log("stop");
  running = false;
  paused = false;

  document.getElementById("slider-date").noUiSlider.set(this.beginRange,this.endRange);
  this.stopRange=this.endRange ;
  this.startRange=this.beginRange ;
  removeClass('stop-button','active');
  removeClass('pause-button','active');
  addClass('play-button','active');
  for(var i=0;i<museums.length;i++)
     {
       this.hits[i]=0;
     }
};

function Pause() 
{
  console.log("pause");

  running = false;
  paused = true;
  this.pausedRange=this.stopRange;
  if(runTimer != null) 
    {
      clearTimeout(runTimer);
    }
  removeClass('stop-button','active');
  addClass('play-button','active');
  addClass('pause-button','active');
};


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
// M A I N 
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
startRange=Number(1960);
beginRange=startRange;
stopRange=2017;
running=false;
paused=false;
runTimer = null;
timeDict={}
///-- DATA ------------------------------------------------
{% if mapdata  %}
  {% for data in mapdata%}
     {{data|safe }}
  {% endfor %}
{% endif %}

///--------------------------------------------------
this.hits=[]
for(var i=0;i<museums.length;i++)
{
    this.hits[i]=0;
}

var playinterval=1;
var playdelay=2000;
removeClass('stop-button','active');
removeClass('pause-button','active');
addClass('play-button','active');




var dateSlider = document.getElementById('slider-date');
noUiSlider.create(dateSlider, {
	start: [ startRange,stopRange ],
        connect: true,
	range: {
		'min': [  1960 ],
		'max': [ 2017 ]
	},
});

dateSlider.noUiSlider.on('end', function( values, handle )
{
  if(!running)
    { 
      if ( handle == 0 ) 
        {
          this.startRange = Math.round(Number(values[handle]));
	  beginRange = Math.round(Number(values[handle]));
        }
      else
        {
           this.stopRange = Math.round(Number(values[handle]));
           endRange = Math.round(Number(values[handle]));
           paused=false;
        }
    }
});

var nodes = [
	document.getElementById('lower-value'), // 0
	document.getElementById('upper-value')  // 1
];
var nodeText = [
	'Start year:', // 0
	'End year:' // 1
];

// Display the slider value and how far the handle moved
// from the left edge of the slider.
dateSlider.noUiSlider.on('update', function ( values, handle, unencoded, isTap, positions ) 
{
	nodes[handle].innerHTML = nodeText[handle]+Math.round(values[handle]) ;
        startRange=Math.round(values[0]);
        stopRange=Math.round(values[1]);

});


this.playdelay=document.getElementById('play-delay-value').value * 1000;
document.getElementById('play-delay-text').innerHTML='Delay:';

document.getElementById('play-interval-text').innerHTML='Interval:';
this.playinterval=Number(document.getElementById('play-interval-value').value);


document.getElementById('play-bywindow-text').innerHTML='By window:';


</script>




        </div> <!-- Tab map-->
    </div>
</div>


<script>





</script>

{% endblock %}

</body>
</html>
