{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Get in Touch{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
  
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/contactbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Captain Mainwaring at Dad’s Army Museum, Suffolk.</figcaption>
</figure>
    <div class="row">
  <h1>Get in Touch</h1>
     <p>
     We would like to know if you have used the Mapping Museums data in your work. Please get in touch to tell us how it has been helpful to you, by emailing <a href="mailto:mappingmuseums@bbk.ac.uk?Subject=MM%20enquiry" target="_top">mappingmuseums@bbk.ac.uk</a>
     </p>
	 <p>If you would like to add data about a new museum or edit an entry please use <a href="/addmuseum">Add Museum</a> or <a href="/editmuseumdata">Edit Museum Data</a>.</p>
     
     

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>