{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Copyright and Access{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
    
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/copyrightbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Museum of Island Life, Skye</figcaption>
</figure>
    <div class="row">
<h1>Copyright and Access</h1>
     <p>
     The data and other research material published on this website are open access and free to use under the terms of the Creative Commons (BY) license. 
	 This allows users to copy, distribute, remix and build upon the research, so long the Mapping Museums team is credited with its original creation. 
	 </p>
	 <p>
	 Please use the following citation if you do download any data or other research material: Data downloaded from the Mapping Museums website at www.mappingmuseums.org Accessed on (date).  
	 </p>
	 <p>
	 The only exception to the above licensing terms relates to the source code of the database and web application, downloadable <a href="/software">here</a>, which is available for free use under the GNU General Public License (GPL). This allows users to run, examine, share and modify the software so long as any modifications acknowledge the original authors and are distributed also under the GPL license.  
	 </p>
	 <p> 
	 If you wish to cite specifically any of the <a href="/interviews">interview</a> material, please use the following form: Name of interviewee, (year of interview), interviewed by Toby Butler, Mapping Museums project, Available at www.mappingmuseums/interviews Accessed (date) 
	 </p>     
	 <p>
	 Finally, we would like to know if you are using our research. Please use the <a href="/contact">Get in Touch</a> link to tell us about your work. We are interested in hearing from everyone, particularly academics and people working in the museum sector.  
	 </p>
     </br>
     <p>Technologies Used</p>
     
     <p>In terms of technologies we have used to develop the Knowledge Base and Web Application, we acknowledge the use of the following software under the terms of the specified licences:</p>

<p>Openstreetmap © OpenStreetMap contributors - <a href='https://www.openstreetmap.org/copyright' target="_blank">https://www.openstreetmap.org/copyright</a></p>
<p>Python Flask - <a href='https://flask.palletsprojects.com/en/0.12.x/license/' target="_blank">https://flask.palletsprojects.com/en/0.12.x/license/</a></p>
<p>Bootstrap - <a href='https://getbootstrap.com/docs/4.0/about/license/' target="_blank">https://getbootstrap.com/docs/4.0/about/license/</a></p>
<p>Leaflet - <a href='https://github.com/Leaflet/Leaflet/blob/master/LICENSE' target="_blank">https://github.com/Leaflet/Leaflet/blob/master/LICENSE</a></p>
<p>MarkerCluster - <a href='https://github.com/Leaflet/Leaflet.markercluster/blob/master/MIT-LICENCE.txt' target="_blank">https://github.com/Leaflet/Leaflet.markercluster/blob/master/MIT-LICENCE.txt</a></p>
<p>Bokeh - <a href='https://github.com/bokeh/bokeh/blob/master/LICENSE.txt' target="_blank">https://github.com/bokeh/bokeh/blob/master/LICENSE.txt</a></p>
<p>Awesomplete - <a href='https://github.com/LeaVerou/awesomplete/blob/gh-pages/LICENSE' target="_blank">https://github.com/LeaVerou/awesomplete/blob/gh-pages/LICENSE</a></p>
<p>Instant Street View and Google Street View - <a href='https://www.google.com/permissions/geoguidelines/' target="_blank">https://www.google.com/permissions/geoguidelines/</a></p>
<p>html2canvas - <a href='https://github.com/niklasvh/html2canvas/blob/master/LICENSE' target="_blank">https://github.com/niklasvh/html2canvas/blob/master/LICENSE</a></p>
<p>Virtuoso - <a href='http://vos.openlinksw.com/owiki/wiki/VOS/VOSLicense' target="_blank">http://vos.openlinksw.com/owiki/wiki/VOS/VOSLicense</a></p>
	 

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



