{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Films and Podcasts{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
  
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/filmsbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Mevagissey Museum, Cornwall</figcaption>
</figure>
    <div class="row">
  <h1>Films and Podcasts</h1>
     
     <p><b><a href ='https://birkbeck.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=86e52153-a91e-4bcc-9cc2-ad2b00957abf' target='_blank'>New Activist Museums</a></b></p>


<p>A seminar with Jess and Matt Turtle, founders of the Museum of Homelessness, and E.J. Scott, founder of the Museum of Transology.</p>
<p>May 2021 1hr 20mins</p></br>

<p><b><a href='https://www.doi.org/10.4135/9781529768749' target="_blank">Visualizing data about UK museums</a></b></p>
<p>Alex Poulovassilis explains how the research team developed the data visualisations for the Mapping Museums project.</p>
 <p>April 2021, SAGE Research Methods: Data Visualization, Video, 14 minutes</p>   </br>
 <p><b>
     <a href='/static/video/Micromuseums Archive Launch.mp4' target="_blank">Meeting the founders: The Mapping Museums Archive launch</a></b> </p>



 <p>A seminar with three people who founded museums to mark the launch of the Mapping Museums Oral History Archive at Bishopsgate Institute. 
 Introduced by Prof Fiona Candlin and chaired by Dr Toby Butler, it features a Q&A with Steve Allsop (Ingrow Loco), Anne Read (Museum of North Craven Life) and 
 Geoff Burton (RAF Ingham Heritage Centre)</p><p> February 2021, Video, 1hr 26mins</p>
     </br>
     
     <p><b><a href='/static/audio/New Thinking about Museums.mp3' target="_blank">New Thinking On Museums</a></b></p>

<p>BBC Radio 3 programme where Fiona Candlin talks about her interview-based work with people who set up their own museums.</p>

<p>October 2020, podcast 45 mins</p>
</br>
     
	 
	 
	 
	 
	 <p><b><a href='https://vimeo.com/375988349' target="_blank">The Plastic Phoenix</a> </b></p>
	 <p>A short film about the Bakelite Museum in Somerset. Made by the Derek Jarman Lab in collaboration with Fiona Candlin, it focuses on the closure of the museum.</p>
     <p>May 2020, film, 18 minutes</p>
	 </br>
	 <p><b><a href="https://birkbeck.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=6e0272d8-47c0-46c4-8b11-aa9600c539ef" target="_blank">Village Life, the Cold War, and the Beeching Cuts: Opening museums in the UK</a> </b></p>
	 <p>Fiona Candlin presents initial findings from the Mapping Museums project at the Birkbeck Seminar ‘Small Museums in a Global Context’.</p>
	 
	 <p>June 2019, filmed lecture, 26 minutes </p>
     </br>
	 
     <p>
     <b><a href="https://birkbeck.hosted.panopto.com/Panopto/Pages/Viewer.aspx?id=26504399-5d61-4eb9-ad76-aa7900db61c4" target="_blank">What is a Museum? (And how would we know?)</a></b>
     </p>
	 <p>Fiona Candlin explains how the research team decided which venues to include in the Mapping Museums database. </p>
  <p>May 28th 2019, filmed lecture, 41 minutes </p>
  </br>

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



