{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Key Findings{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
   
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/keyfindingsbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Natural history display, Dent Village Museum and Heritage Centre, Cumbria</figcaption>
</figure>
    <div class="row">
 <h1>Key Findings</h1>
     <p>The Mapping Museums project has generated rich and detailed data on the UK museum sector. 
     A full report can be found <a href='/report' >here</a>. </p>

<p>Our analysis concentrated on the period between 1960 and 2017. The key findings are as follows:</p>

<a href="#overview">Overview</a></br>
<a href="#growth">Growth</a></br>
<a href="#distr">Distribution</a></br>
<a href="#closure">Closure</a></br>
</br>
<a name = "overview" style="color:black; text-decoration: none"><p><b>Overview</b></p>
<ul>
<li>
There has been a massive boom in the number of museums in the UK. The sector has more than tripled, increasing from 1,052 to 3,289 museums in 2017.  
</li><li>
The total number of museums in the UK increased each year from 1960 until 2015. There was 55 years of growth in the museum sector.
</li><li>
In 2016 the number of museums contracted for the first time since 1960. 
</li><li>
The most rapid period of museum growth was during the 1970s. The least growth has been seen during the 2010s.
</li><li>
There is significant variation in growth and closure depending on location and on governance. The different nations and the English regions have different degrees and timescales of growth, as do independent versus local authority museums.
</li>

</ul>
</a></br>
<a name = "growth" style="color:black; text-decoration: none"><p><b>Growth</b></p>
<ul><li>
There has been growth in all areas of the museum sector, but expansion was mainly driven by the foundation of independent museums. Independent museums make up at least 71.5% of the total UK sector.  
</li><li>
Growth in the numbers of local authority museum numbers slowed in the early 1990s and halted in 1997. Their numbers began to decline in 2001. 
</li><li>
The majority of the museums that opened since 1960 are small (defined as having fewer than 10,000 annual visits). Small museums make up 56% of the sector. Small, independent museums make up at least 47% of the sector.
</li><li>
Since 1960, new subject matter has emerged, principally in the independent sector, and marginal subjects have become well established. There have been significant increases in the number of local history and transport museums.
</li></ul>
</a></br>
<a name = "distr" style="color:black; text-decoration: none"><p><b>Distribution</b></p>
<ul><li>
England has the largest number of museums at 2,468, followed by Scotland with 495, Wales with 204, and Northern Ireland with 87. 
</li><li>
Scotland has the highest density of museums in relation to population at 9.1 per 100,000 residents, followed by Wales with 6.5 per 100,000 residents. Northern Ireland and England have a lower density of museums at 4.6 and 4.4 per 100,000 residents respectively. 
</li><li>
In England, Scotland, and Wales, the number of museums is declining. By contrast, the number of museums in Northern Ireland continues to grow. 
</li><li>
In England, the South East region had the most museums in 1960, and the North East had the least. That remains the case. 
</li><li>
In England, the South West has the highest density of museums at 7.5 museums per 100,000 residents, followed by the East of England with 5.3 and the South East, also with 5.3. London has the lowest density of museums per 100,000 residents at 2.5.
</li></ul>
</a></br>
<a name = "closure" style="color:black; text-decoration: none"><p><b>Closure</b></p>
<ul><li>
758 museums have closed, which is 18.7% of the total number of museums open since 1960. The assumption that museums survive and that they keep collections for posterity is misplaced.  
</li><li>
21.7% of local authority museums that have been open since 1960 have closed, compared to 17.1% of independent museums. Within the category of independent museums, not for profit museums (i.e. those run on a charitable basis but excluding the large heritage organisations) have a percentage closure of 8.5%.
</li><li>
Small museums are the most likely to close.
</li><li>
There are substantial disparities in closure rates according to museum accreditation status. 2.0% of accredited museums that have been open since 1960 have closed as opposed to 25% of unaccredited museums.
</li></ul>
</a></br>
	 
	 
    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>












































