{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}About the Project{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
    <h1>Funding</h1>
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
    <div class="row">

     <p>
     This page will provide details of the funding of the project received from the AHRC, as well as in-kind contributions.
     </p>
     
     

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



