{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Mapping Museums Project{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
    
</div>
<style>
div.row {
    font-size: 20px;
}

</style>
<figure>
<img src="/static/img/homebanner.png" alt="about banner" style="max-width: 100%" >

</figure>
    <div class="row">
</br>
     <p>
     During the late twentieth century, the number of museums in the UK more than tripled. 
	 The Mapping Museum research project was devised in response to the absence of coherent data on that expansion. 
	 Our aim was to document and analyse how the sector changed between 1960 and 2020. 
	 </p><p>This website provides access to a  <a href="/aboutapp">database</a>,
	 <a href="/findings">key findings</a>, transcripts of <a href="/interviews">interviews</a> with museum founders and staff, <a href="/films">films and podcasts</a>,
	 and other resources produced by the project, including the downloadble <a href="/data">data</a> and <a href="/software">software</a> linked to the project. 
     </p>
     <p>The <a href="/aboutapp">database</a> contains information on over 4,000 museums. 
     That data can be viewed on a map or as a list, and can be <a href='/search'>searched</a>, <a href='browseproperties'>browsed</a>, or <a href='visualisations'>visualised</a>.</p>
     <p>All the resources are free to use under <a href='/copyright'>these copyright and access conditions </a></p>
      <p>The Browse page under the Database tab and the Edit Museum Data page under the Contact Us tab both take some time to load so please be patient. </p>
 

 
      <img src="/static/bbklogo.png" alt="Birkbeck logo" style="max-width:20%; float: right">
   
      <img src="/static/ahrclogo.png" alt="AHRC logo" style="max-width:20%; float: right">
  

  




{% endblock %}

{% block scripts %}
{% endblock %}


</div>



