{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Research Team{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
  
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/teambanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>Mannequins outside Charlestown Shipwreck & Heritage Centre, Cornwall</figcaption>
</figure>
    <div class="row">
  <h1>Research Team</h1>
     <p>
     Mapping Museums is an interdisciplinary and a collaborative project. All the team members have contributed to the development of the research as a whole, and we have also worked together on a series of <a href="/publications">publications</a>. Here, we briefly outline the specific contribution of each staff member. 
     </p>
	 </br>
	 <p>
	 <a href="http://www.bbk.ac.uk/art-history/staff/teaching-staff/candlin" target="_blank">Prof Fiona Candlin</a> had overall responsibility for co-ordinating and delivering the Mapping Museums project. She also led on developing new approaches to defining museums and a new subject classification system, and has worked closely with other team members on database and website development, and data collection.
	 </p></br>
	 <p> 
	 <a href="http://www.dcs.bbk.ac.uk/about/people/academic-staff/ap/" target="_blank">Prof Alexandra Poulovassilis</a> had overall responsibility for designing and developing the database, web application, and website. She also worked closely with Candlin on managing other aspects of the project. 
	 </p></br>
	 <p>
	 <a href="http://aballatore.space" target="_blank">Dr Andrea Ballatore</a> advised on the development of the Mapping Museums database, web application, and website, particularly in relation to Geographic Information Systems. He conducted the spatial analysis of the museum locations and the predictive modelling on visitor numbers.
	 </p></br>
	 <p>
	 <a href="http://blogs.bbk.ac.uk/mapping-museums/people/" target="_blank">Dr Toby Butler</a> organised and conducted the interview based research with founders, staff, and volunteers from over forty museums.  
	 </p></br>
	 <p>
	 <a href="http://blogs.bbk.ac.uk/mapping-museums/people/ " target="_blank">Dr Val Katerinchuk</a> designed additional functionality for the database and web application, and developed the project website.  
	 </p></br>
	 <p>
	 <a href="https://www.chapman.edu/our-faculty/jamie-larkin" target="_blank">Dr Jamie Larkin</a> led on data collection, data cleaning, and data validation, and contributed to the development of new museums definitions and subject classification system. 
	 </p></br>
	 <p>
	 <a href="http://blogs.bbk.ac.uk/mapping-museums/people/" target="_blank">Nick Larson</a> developed the first version of the project database and web application.
	 </p></br>
	 <p>
	 <a href="http://blogs.bbk.ac.uk/mapping-museums/people/" target="_blank">Mark Liebenrood</a> contributed to data validation, updating the dataset, and website development. 
	 </p></br>
	 <p>
	 <a href="http://blogs.bbk.ac.uk/mapping-museums/people/" target="_blank">Dr Jake Watts</a> conducted a wide range of historical, social, cultural, and economic research that informed the overall research analysis. 
	 </p>
	 
     
     

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>



