{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Publications{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
   
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/publicationsbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>The Vintage Wireless and Television Museum, London</figcaption>
</figure>
    <div class="row">
 <h1>Publications</h1>
     <p><b>Articles </b></p>
	 <p>Links to the articles will be provided on publication. Further details will be added for subsequent articles.</p>
	 </br>
	 <p>Fiona Candlin, Jamie Larkin, Andrea Ballatore, and Alexandra Poulovassilis. <a href='https://www.tandfonline.com/doi/abs/10.1080/09548963.2019.1690392' target="_blank">‘The Missing Museums: Accreditation, surveys, and an alternative account of the UK sector’</a>, <i>Cultural Trends</i> 2019.</p>
	 <p>Fiona Candlin and Alexandra Poulovassilis. <a href='https://www.tandfonline.com/doi/abs/10.1080/09647775.2019.1666421' target="_blank">‘Understanding and managing patchy data in the UK museum sector’</a>, <i>Museum Management and Curatorship</i> 2019.</p>
	 <p>Alexandra Poulovassilis, Nick Larson, Fiona Candlin, Andrea Ballatore, and Jamie Larkin. <a href='https://dl.acm.org/doi/10.1145/3343871' target="_blank">‘Creating a Knowledge Base to research the history of UK Museums through Rapid Application Development’</a>, <i>Journal of Computing and Cultural Heritage</i> 2020.</p>
	 <p>Fiona Candlin and Jamie Larkin,<a href='https://bit.ly/2ZIlx58'>‘What is a Museum? A new approach to definition’</a>, <i>Museums and Society</i> 2020.</p>
	 <p>Andrea Ballatore, Fiona Candlin and Jamie Larkin,‘A geography of UK museums’, <i>Transactions of the Institute of British Geographers</i> (in preparation).</p>
	 <p>Alexandra Poulovassilis, Val Katerinchuk, Fiona Candlin, ‘Designing a system to research the development of the UK museums sector’ (in preparation).</p>
	 <p>Jake Watts, Toby Butler, Fiona Candlin. 'Marking Straight Time? The UK Museums Boom and Heteronormative Temporality, 1960-2017'. History Workshop Journal (in preparation)</p>
     
     </br>
	 <p>Some of these articles are behind paywalls. Final drafts of each article will be made available on <a href='https://eprints.bbk.ac.uk/' target="_blank">BIRON</a> once the journal’s embargo period has expired. Alternatively, contact the team for an eprint.</p>
	 </br>
	 <p><b>Report</b></p>
	 <p><a href='../static/pdf/MappingMuseumsReportMarch2020.pdf' target="_blank">Fiona Candlin, Jamie Larkin, Andrea Ballatore and Alexandra Poulovassilis. ‘Mapping Museums 1960-2020: A report on the data’.</a> Birkbeck: London, March 2020. </p>
	 </br>
	 <p><b>Monograph</b></p>
	 <p>Fiona Candlin, Jake Watts, and Toby Butler. <i>The Making of the Micromuseums Boom</i> (In preparation. Planned publication date 2021).</p>
	 

    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>