{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Report{% endblock %}

{% block page_content %}

<div class="container">
<div class="page-header">
   
</div>
<style>
div.row {
    font-size: 20px;
}
</style>
<figure>
<img src="/static/img/reportbanner.png" alt="about banner" style="max-width: 100%" >
<figcaption>The Glen Miller Museum, Bedfordshire.</figcaption>
</figure>
    <div class="row">
 <h1>Report</h1>
     <p>'Mapping Museums 1960-2020: A report on the data’ provides a summary of the research and methods, and a detailed guide to the findings from the data. It can be downloaded from <a href='../static/pdf/MappingMuseumsReportMarch2020.pdf' target="_blank">here</a>. The data files underpinning this report can be downloaded from <a href='../static/pdf/dataFilesForMappingMuseumsReportMarch2020.zip'>here</a>.</p>


	 
	 
    </div>
</div>



{% endblock %}

{% block scripts %}
{% endblock %}


</div>












































