<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="geometry" content="line">
  <link rel="stylesheet" href="/static/g2/assets/common.css">
  <title>Line Plot</title>
   <style type="text/css">
    #canvas .g2-tooltip {
      background: none!important;
      padding: 0!important;
    }
  </style>
</head>

<body>
  <div id="canvas"></div>
  <script src="/static/g2/g2.js"></script>
  <script>

///-- DATA ------------------------------------------------
{% if plotdata  %}
  {% for data in plotdata%}
    {{data|safe }}
  {% endfor %}
{% endif %}

    const chart = new G2.Chart({
      container: 'canvas',
      height: window.innerHeight,
      forceFit: true,
      plotBackground: {
        stroke: '#ccc'
      }
    });
    chart.source(chartData, {
      motorcycles: {
        min: 0,
        max: {{maxval}}
      }
    });
    chart.axis('year', {
      title: 'year',
      tickLine: null,
      grid: {
        align: 'center',
        lineStyle: {
          lineWidth: 1,
          lineDash: null,
          stroke: '#ccc'
        }
      }
    });
    chart.axis('bicycles', {
      title: 'bicycles and cars',
      label: {
        formatter: val => {
          if (+val !== 3000) {
            return val;
          }
        }
      },
      grid: null
    });

    chart.tooltip({
      crosshairs: {
        type: 'rect',
        style: {
          fill: '#0066e3',
          lineWidth: 1,
          stroke: '#ccc',
          shadowBlur: 10,
          shadowColor: '#ccc',
          fillOpacity: 0.05
        },
        width: 60
      },
      shared: false,
      showTitle: true,
      itemTpl: '<span style="color:#0066e3;font-size: 18px;font-weight: bold;">{value}</span>'
    });




///-- LINES ------------------------------------------------
{% if linedata  %}
  {% for data in linedata%}
    {{data|safe }}
  {% endfor %}
{% endif %}




chart.render();


  </script>
</body>

</html>
